.card {
    border-radius: 12px;
  }
  
  .btn-primary {
    background-color: #B0B0AE ;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .btn-primary:hover {
    background-color: #FFAE41;
  }